html, body, #app {
    height: 100%;
    margin: 0;
}

#app {
    display: flex;
    overflow: hidden;
}

#board {
    position: relative;
    align-self: center;
}

#board-inner {
    margin: 2.5%;
    position: relative;
    align-self: center;
    width: 95%;
    height: 95%;
    aspect-ratio: 1 / 1;
    container-type: size;
}

#grid {
    position: relative;
    width: 100%;
    height: 100%;
}

#main-grid {
    position: relative;
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(9, 1fr);

    width: 100%;
    height: 100%;
    z-index: 1;
}

.overlay {
    position: absolute;
    inset: 0;

    width: 111.11%;
    height: 111.11%;

    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    pointer-events: none;
}

#layer-top {
    z-index: 2;
}

#layer-under {
    z-index: 0;
}

#right-clues {
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 100%;

    display: flex;
    flex-direction: column;
}

#bottom-clues {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 0;
    width: 100%;

    display: flex;
}

.cell {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;

    --ring: 1.4cqw;
}

.cell::before {
    content: "";
    position: absolute;
    inset: 0;
    border: 1px solid #999;
}

.cell.fixed > .normal {
    color: black;
}

.cell.selected {
    box-shadow: inset 0 0 0 var(--ring) rgba(100, 150, 255, 0.4);
}

.cell.selected-last {
    box-shadow: inset 0 0 0 var(--ring) rgba(30, 60, 255, 0.4);
}

.cell.error {
    background: rgba(255, 0, 0, 0.3);
}

.normal {
    position: absolute;
    inset: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 6cqw;
    font-weight: bold;
    color: rgb(29, 106, 229);
    transform: translateY(-5%);
}

.corner {
    position: absolute;
    inset: 0;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);

    pointer-events: none; /* 클릭 방해 안 하게 */
}

.corner > div {
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 2.8cqw;  /* ⭐ 핵심: 상대 크기 */
    color: rgb(29, 106, 229);
}

.cell.filled .corner {
    display: none;
}

.center {
    position: absolute;
    inset: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 2.5cqw;
    color: rgb(29, 106, 229);
}

.cell.filled .center {
    display: none;
}

.cell.thick-top::before {
    border-top-width: 2px;
    border-top-color: black;
}
.cell.thick-left::before {
    border-left-width: 2px;
    border-left-color: black;
}
.cell.thick-bottom::before {
    border-bottom-width: 2px;
    border-bottom-color: black;
}
.cell.thick-right::before {
    border-right-width: 2px;
    border-right-color: black;
}

.cell.outside-top::before {
    border-top-width: 4px;
    border-top-color: black;
}
.cell.outside-left::before {
    border-left-width: 4px;
    border-left-color: black;
}
.cell.outside-bottom::before {
    border-bottom-width: 4px;
    border-bottom-color: black;
}
.cell.outside-right::before {
    border-right-width: 4px;
    border-right-color: black;
}

#controls {
    align-self: center;
}

@media (orientation: portrait) {
    #app {
        flex-direction: column;
    }
}

@media (orientation: landscape) {
    #app {
        flex-direction: row;
    }
}

/* TEST */

#board {
    /*background: #aaaaee;*/
}

#controls {
    background: #eeeeaa;
}