html, body, #app {
    height: 100%;
    margin: 0;
}

#app {
    display: flex;
    overflow: hidden;
}

@media (orientation: portrait) {
    #app {
        flex-direction: column;
    }
}

@media (orientation: landscape) {
    #app {
        flex-direction: row;
    }
}

#board {
    position: relative;
    align-self: center;
}

#board-inner {
    margin: 2.5%;
    position: relative;
    align-self: center;
    width: 95%;
    height: 95%;
    aspect-ratio: 1 / 1;
    container-type: size;
}

#grid {
    position: relative;
    width: 100%;
    height: 100%;
}

#main-grid {
    position: relative;
    display: grid;
    container-type: size;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(9, 1fr);

    width: 100%;
    height: 100%;
    z-index: 2;
}

#memo-color {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.overlay {
    position: absolute;
    inset: 0;

    width: 200%;
    height: 200%;

    left: 0;
    top: 0;
    transform: translate(-2.7778%, -2.7778%);

    pointer-events: none;
}

#layer-top {
    z-index: 3;
}

#layer-middle {
    z-index: 2;
}

#layer-bottom {
    z-index: 0;
}

#right-clues {
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 100%;

    display: flex;
    flex-direction: column;
}

#bottom-clues {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 0;
    width: 100%;

    display: flex;
}

.error {
    background: repeating-linear-gradient(
            -45deg,
            rgba(211, 7, 7, 0.3) 0cqw,
            rgba(211, 7, 7, 0.3) 1.9642cqw,
            transparent 1.9642cqw,
            transparent 3.9284cqw
    );
}

.side {
    flex: 1;
}

.cell {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;

    --ring: 1.5cqw;
}

.cell.fixed > .normal {
    color: black;
}

.cell.selected {
    box-shadow: inset 0 0 0 var(--ring) rgba(100, 150, 255, 0.4);
}

.cell.selected-last {
    box-shadow: inset 0 0 0 var(--ring) rgba(30, 60, 255, 0.4);
}

.normal {
    position: absolute;
    inset: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 6cqw;
    font-weight: bold;
    color: rgb(29, 106, 229);
    transform: translateY(-5%);
}

.corner {
    position: absolute;
    inset: 0;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    line-height: 100%;

    pointer-events: none; /* 클릭 방해 안 하게 */
}

.corner > div {
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 2.8cqw;  /* ⭐ 핵심: 상대 크기 */
    color: rgb(29, 106, 229);
}

.cell.filled .corner {
    display: none;
}

.center {
    position: absolute;
    inset: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 2.5cqw;
    color: rgb(29, 106, 229);
}

.cell.filled .center {
    display: none;
}

#controls {
    align-self: center;
    display: flex;
    gap: 1cqw;
    container-type: size;
}

@media (orientation: portrait) {
    #controls {
        flex-direction: row;
    }
}

@media (orientation: landscape) {
    #controls {
        flex-direction: column-reverse;
    }
}

.digit-pad {
    aspect-ratio: 1 / 1;
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(4, 1fr);
    place-items: center;
    align-items: center;
    justify-content: center;
}

button {
    aspect-ratio: 1;

    display: flex;
    align-items: center;
    justify-content: center;

    user-select: none;
    -webkit-user-select: none;
    -webkit-tap-highlight-color: transparent;
    touch-action: manipulation;
}

.digit-pad > button {
    width: 80%;
    height: 80%;
}

@media (orientation: portrait) {
    button {
        font-size: 5cqh;
    }
}

@media (orientation: landscape) {
    button {
        font-size: 4cqw;
    }
}

button.wide {
    aspect-ratio: 2 / 1;
    grid-column: 2 span;
    width: 90%
}

/* TEST */

#board {
    /*background: #aaaaee;*/
}

#controls {
    background: #eeeeaa;
}